<?xml version = "1.0"?>
<launch>

    <node pkg="tf" type="static_transform_publisher" name="world1_tf_broadcaster" args="0 0 0 0 0 0 /map /camera1/camera_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="world2_tf_broadcaster" args="0 0 0 0 0 0 /map /camera2/camera_link 100"/>
    <node name = "rviz" pkg = "rviz" type = "rviz" args = "-d $(find camera4cloud)/urdf.rviz" />

</launch>
